.cart_listedcontainer {
    margin: 1rem;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 30%);
    align-items: center;
    justify-content: space-between;
    background-color: var(--accentColor);
    border-radius: 1rem;
}

.cart_price {
    font-size: 1.2rem;
    font-weight: 400;
}

.cart_qty {
    font-size: 1.2rem;
    font-weight: 400;
}

.cart_clear {
    color: var(--whiteColor);
    width: 50px;
}