.detail_card {
    width: 600px;
    height: auto;
    background-color: var(--bgdColor);
    color: var(--whiteColor);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.item_header_title {
    color: var(--accentColor);
    margin: 0 1rem;
}

.item_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.detail_img {
    height: 250px;
    width: 350px;
    border-radius: 1rem;
}

.item_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.item_info {
    text-align: center;
    margin-bottom: .5rem;
}

.item_description {
    text-align: center;
    margin: 0 2rem;
    padding: 1rem;
    margin-bottom: .5rem;
    font-size: .8rem;
    background-color: var(--accentColor);
    border-radius: 1rem;

}

.item_button {
    background-color: var(--grayColor);
    color: var(--bgdColor);
}